html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
#navbar {
    flex-direction: column;
}

#navbar .logo img {
    width: 184px;
    display: block;
    margin: auto;
}

#navbar .logo h1 {
    line-height: 0px;
            position: relative;
        top: 138px;
        font-size: 2.8rem;
}

#navbar ul{
           position: relative;
        top: 91px;
        left: 22px;
}




.team-page h1{
    margin-top: 300px;

}
.team{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .team {
    border-radius: 0;
  }
}
